---
layout: layout-blog-list
pageable: true
per_page: 10
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<ul class="archive">
<% page_articles.each_with_index do |article, i| %>
  <li>

   <a href="/blog/<%= article.slug %>"><%= article.title %> <span class="date"><%= article.date.strftime('%B %e, %Y') %></span>
  </li>
<% end %>
</ul>
<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
